<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin update</title>
  </head>
  <body>
    <h1>Admin Update</h1>

    <form action="/posts/postadd" method="post">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value=""><p>
              <label for="text">Content</label>
              <input type="text" name="content" id="content" value=""><p>
              <label for="text">Author</label>
              <input type="text" name="author" id="author" value=""><p>
              <input type="submit" name="" value="Add">

    </form>
  </body>
</html>
